html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, p {
  font-weight: 300 !important;
}

section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem 1rem;
}

section.hero {
  margin: 1rem 0;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.footer {
  padding: 1rem 0;
}

hr {
  margin: 4rem;
}


#brand {
  height: 80px;
  margin-bottom: 20px;
}

.secondary {
  color: #84949a;
}

.font-md {
  font-weight: 300;
}

section.intro {
  margin: 0 auto;
}

.intro {
  padding-bottom: 0px !important;
}

.hero-intro {
  background-color: #262626 !important;
  position: relative;
  padding-top: 2rem;
}

.intro-img {
  padding-top: 2rem;
}


.btn.btn-cta {
  color: #39c0f9;
  border-color: #30b2e9;
  background: none;
}

.btn.btn-cta:focus, .btn.btn-cta:hover {
  background: #38abdb;
  border-color: #2487b1;
  color: #fff;
}

.btn.btn-primary {
  background: #39c0f9;
  border-color: #30b2e9;
  color: #fff;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #38abdb;
  border-color: #2487b1;
  color: #fff;
}

.btn.btn-secondary {
  background: #5c5c5c;
  border-color: #4e4e4e;
  color: #fff;
}

.btn.btn-secondary:focus, .btn.btn-secondary:hover {
  background: #414141;
  border-color: #474747;
  color: #fff;
}

.btn-cta {
  font-size: 1rem;
  height: 3.2rem;
  padding: 1rem 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.features {
  font-size: 20px;
}

.hero-divider {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.brand-gradient {
  background: #66ffb5;
  background: -moz-linear-gradient(left,  #66ffb5 0%, #fff47e 24%, #f09aed 52%, #65e8ff 77%, #82eddd 100%);
  background: -webkit-linear-gradient(left,  #66ffb5 0%,#fff47e 24%,#f09aed 52%,#65e8ff 77%,#82eddd 100%);
  background: linear-gradient(to right,  #66ffb5 0%,#fff47e 24%,#f09aed 52%,#65e8ff 77%,#82eddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffb5', endColorstr='#82eddd',GradientType=1 );
}

.add-homescreen-img {
  max-height: 300px;
  margin: 0 auto;
}

